.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 14rem;
  height: 14rem;
  padding: 1rem;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  border-radius: 0.8rem;
  .maxflow {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    img {
      width: 1.5rem;
    }
  }
  img {
    width: 4rem;
  }
}
