.container {
  position: absolute;
  bottom: 2rem;
  left: 50%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  padding: 0.7rem;

  border-radius: 1rem;

  transform: translateX(-50%);
}

.search-input {
  background: transparent;

  gap: 2rem;

  width: 25rem;
  height: 1.7rem;

  border: none;

  outline: none;

  transition: all 0.5s ease-in-out;
}
