<div class="wrapper">
  <div class="container">
    <app-graph></app-graph>
    <app-flow-snackbar
      alt="flow icon"
      iconSrc="assets/icons/flow.svg"
      message="You are calculating max flow......"
    ></app-flow-snackbar>
    <app-userinfo-dialog
      cardId="12345678"
      id="12345678"
      name="ArTaZ"
    ></app-userinfo-dialog>
    <app-flow-dialog
      amount="10000"
      source="12345678"
      target="12345678"
      iconSrc="assets/icons/flow.svg"
      iconAlt="flow icon"
    ></app-flow-dialog>
    <app-search></app-search>
  </div>
</div>
