.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--main-body-bg);
  .container {
    width: 90%;
    height: 90%;
    background: var(--primary-gradiant);
    border-radius: 2.5rem;
    position: relative;
  }
}
