<div class="wrapper">
    <div class="container">
        <app-flow-snackbar
                alt="flow icon"
                iconSrc="assets/icons/flow.svg"
                message="You are calculating max flow......"
        ></app-flow-snackbar>
        <app-userinfo-dialog
                cardId="12345678"
                id="12345678"
                name="ArTaZ"
        ></app-userinfo-dialog>
        <app-flow-dialog
                amount="10000"
                source="12345678"
                target="12345678"
                iconAlt="flow icon"
                iconSrc="assets/icons/flow.svg"
        ></app-flow-dialog>
        <app-search></app-search>
    </div>
</div>
