.wrapper {
  background-image: var(--primary-gradiant);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  
  .container {
    background-image: var(--primary-gradiant);

    position: relative;
    overflow: hidden;

    width: 99%;
    height: 99%;

  }
}
