.container {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  bottom: 2rem;
  padding: 0.7rem;
  align-items: center;
  justify-content: flex-start;


  border-radius: 1rem;
  left: 50%;
  transform: translateX(-50%);





}
.searchInput {
    height: 1.7rem;
    background: transparent;
    border: none;
    margin-right: 2rem;
    outline: none;

    transition: all 0.5s ease-in-out;

  }

open {

  width: 20rem;

}

close {
  width: 0;
}
