/* You can add global styles to this file, and also import other style files */
:root {
  --main-body-bg: hsl(206deg 31% 90%);
  --primary-gradiant: linear-gradient(
                  298.69deg,
                  hsl(205deg 85% 8%) -21.37%,
                  hsl(205deg 62% 17%) 100%
  );
  --secondary-color: hsl(184deg 67% 42%);
}

* {
  color: hsl(0deg 0% 100%);

  //font-family: Vazirmatnirmatn, sans-serif;


}


body {
  height: 100vh;

  margin: 0;
  padding: 0;
}

.glass {
  background-color: hsl(0deg 0% 28% / 45%);
  box-shadow: inset 0 0 2.7rem 1.2rem hsl(0deg 0% 42% / 25%);

  backdrop-filter: blur(0.8rem);
}

.glass-brighter {
  background-color: hsl(0deg 0% 47% / 45%);
  box-shadow: inset 0 0 2.7rem 1.2rem hsl(0deg 0% 42% / 25%);

  backdrop-filter: blur(0.8rem);
}

button {
  background: var(--secondary-color);

  width: 12.3rem;
  height: 2.3rem;

  border: none;
  border-radius: 0.3rem;

  cursor: pointer;
  offset: none;
}
